/* line 4, ../sass/layout.scss */
body {
  margin: 0;
  padding: 0;
}

/* line 9, ../sass/layout.scss */
#enchant-stage {
  border: 1px solid;
  background: linear-gradient(#66b6fc 0%, #fcfcfc 100%);
}

/* line 15, ../sass/layout.scss */
#status-window {
  height: 64px;
  width: 640px;
  position: absolute;
  z-index: 1;
  padding: 5px;
}

/* line 23, ../sass/layout.scss */
.hp-label, .sp-label {
  display: inline-block;
  width: 20px;
  padding: 10px 0;
}

/* line 29, ../sass/layout.scss */
.hp-label {
  background: url("../../img/hp.png") no-repeat 50% 50%;
}

/* line 33, ../sass/layout.scss */
.sp-label {
  background: url("../../img/sp.png") no-repeat 50% 50%;
}

/* line 37, ../sass/layout.scss */
_pos, #hp-bar, #sp-bar, #hp-bar-value, #sp-bar-value {
  display: inline-block;
  width: 200px;
  height: 20px;
}

/* line 43, ../sass/layout.scss */
#hp-bar, #sp-bar {
  border: 1px solid #000000;
}

/* line 48, ../sass/layout.scss */
#hp-bar-value {
  background: linear-gradient(#f3c5bd 0%, #e86c57 50%, #ea2803 51%, #ff6600 75%, #c72200 100%);
}

/* line 53, ../sass/layout.scss */
#sp-bar-value {
  background: linear-gradient(#e6f0a3 0%, #d2e638 50%, #c3d825 51%, #dbf043 100%);
}
